<html>
<head>
</head>
<body>
    <div id="mail-message" style="color:red">
        @RenderBody()
    </div>
    <div id="mail-footer"style="color:blue">
    </div>
</body>
</html>
Welcome @ViewBag.Name
<br />
Gracias por registrarse en turismouvm