
<h2>America Latina</h2>
<div  >
    
        menu
  
</div>
<div >
   
    <a href="@ViewBag.urlLink">hola soy un link</a>
   
</div>
<div style="color:red; Background:blue" >

    foorter
</div>



No me carga los coleres de las vistassss >.< pero ya manda correo de html string
